html, body{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
}
header>h1{
    font-family: "Droid Sans Mono", sans-serif;
    width: 860px;
    margin: 0 auto;
    padding: 20px;
    color: #333;
}
body>div{
    display: table;
    width: 860px;
    margin: 0 auto;
    padding: 20px;
}
body>div>div{
    display: table-cell;
}

div.main-contents{
    width: inherit;
}

div.sub-contents{
    width: 200px;
    padding: 10px;
}

div.sub-contents>*{
    border-radius: 4px;
    border: 1px solid #444;
}

#hakoniwa{
    font-family: "Droid Sans Mono", sans-serif;
    color: #333;
    font-size: 7pt;
    word-wrap: break-word;
    width: inherit;
    height: 250px;
    padding: 10px;
    overflow: scroll;
}
