/*
 * Global
 */
html, body{
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,p{
    font-weight: normal;
    margin: 0;
}

/*
 * Header
 */
header{
    width: 100%;
}
header>h1{
    font-family: "Droid Sans Mono", sans-serif;
    width: 200px;/*860px;*/
    font-size: 22pt;
    margin: 0 auto;
    padding: 20px;
    color: #333;
}

/*
 * Body
 */
body>div{
    display: table;
    width: 200px;/*860px;*/
    margin: 0 auto;
    padding: 20px;
}
body>div>div{
    display: table-cell;
}

/*
 * Main
 */
div.main-contents{
    width: inherit;
}
i.circle-toggler{
    display: inline-block;
    cursor: pointer;
    border: 1px solid #aaa;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    -webkit-transition: -webkit-transform 0.3s ease 0;
    -moz-transition: -moz-transform 0.3s ease 0;
    -ms-transition: -ms-transform 0.3s ease 0;
    -o-transition: -o-transform 0.3s ease 0;
    transition: transform 0.3s ease 0;
}
i.circle-toggler:before{
    content: "";
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 5px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 14px solid #999;
}
i.circle-toggler.active{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
ul.togglee-list{
    display: none;
}
ul.togglee-list.active{
    display: block;
}
.content>p{
    display: table;
    font-family: sans-serif;
    font-size: 14pt;
}
.content>p>*{
    display: table-cell;
    vertical-align: bottom;
    text-align: left;
}
.content>p>span{
    padding-left: 10px;
}
.content>ul{
    list-style-type: none;
    margin: 10px 0;
    font-family: sans-serif;
    font-size: 12pt;
    color: #666;
}

/*
 * Sub
 */
div.sub-contents{
    width: 200px;
    padding: 10px;
}
div.sub-contents>*{
    margin-bottom: 40px;
}
#hakoniwa{
    display: block;
    box-shadow: 0 0 0 15px #555, 0 0 0 18px #bdc3c7;
    margin: 18px;
    border-radius: 2px;
    padding: 5px;
    font-family: "Droid Sans Mono", sans-serif;
    color: #333;
    font-size: 7pt;
    word-wrap: break-word;
    width: 200px;
    height: 125px;
    overflow: scroll;
}
#hakoniwa+label{
    position: relative;
    font-family: sans-serif;
    font-size: 7pt;
    color: #ecf0f1;
    top: -24px;
    left: 102px;
}
.key{
    display: inline-block;
    position: relative;
    text-decoration: none;
    margin: 4px 5px 5px 4px;
    border-radius: 2px;
    background-color: #eee;
    text-align: left;
    width: 32px;
    height: 32px;
    box-shadow: 0 1px 0 1px #fff inset, 1px 1px 0 4px #d4d4dd, 1px 1px 0 5px #888;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center center;
    vertical-align: middle;
}
.key:hover{
    background-color: #e4e4e4;
    box-shadow: 0 1px 1px 2px #cacad3 inset, 0 2px 0 3px #f5f5f5 inset, 1px 1px 0 2px #cacad3, 1px 1px 0 4px #bababa, 1px 1px 0 5px #888;
    background-size: 15px 15px;
}
.key.button{
    cursor: pointer;
}
.key.button *{
    cursor: pointer;
}
.key.github{
    background-image: url("../img/github.png");
}
.key.twitter{
    background-image: url("../img/twitter.png");
}
.key.hatena-blog{
    background-image: url("../img/hatena-blog.png");
}
.key>label{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 7pt;
    position: absolute;
    top: 17px;
    left: 3px;
    color: #777;
}
.key:hover>label{
    font-size: 6pt;
    left: 6px;
}
.key>p{
    font-family: sans-serif;
    font-size: 10pt;
    position: absolute;
    top: 7px;
    left: 8px;
    color: #777;
}
.key:hover>p{
    font-size: 9pt;
    top: 8px;
}
