/*
 * Header
 */
header>h1{
    margin: 20px 10%;
}

/*
 * Footer
 */
body>div:last-child{
    padding-bottom: 100px;
}

/*
 * Bread crumb
 */
ul.bread-crumb{
    font-size: 10pt;
    background-color: #ecf0f1;
    padding: 5px 0 5px 10%;
}
ul.bread-crumb>li{
    display: inline-block;
}
ul.bread-crumb>li:not(:first-child):before{
    content: ">";
    margin: 0 10px 0 8px;
    color: #7f8c8d;
}

/*
 * Preset URL
 */
input[type="text"].preset-url{
    width: 70%;
    padding: 5px;
    border: 1px solid #95a5a6;
    border-radius: 5px;
}
